.MovieDetails {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  text-align: center;
  position: relative;
}

.back-button {
  position: absolute;
  top: 20px;
  right: 20px;
  z-index: 10;
}

.home-icon {
  width: 40px;
  height: 40px;
}

.MovieDetails .poster {
  width: 200px;
  height: auto;
  margin-bottom: 20px;
  object-fit: cover; 
  border-radius: 8px;
}

.MovieDetails .backdrop {
  width: 100%;
  max-width: 1200px;
  height: 500px;
  object-fit: cover;
  border-radius: 8px;
  margin-bottom: 20px;
}

.MovieDetails h2 {
  font-size: 2rem;
  margin-top: 20px;
}

.MovieDetails p {
  font-size: 1.1rem;
  margin: 10px 0;
}
